@media (max-width: 620px) {
  .game {
    &__inner {
      flex-direction: column-reverse;
      margin-bottom: 10px;
    }
    &__score {
      order: 1;
      height: 68px;
      margin: 12px 0 0 0;
    }
    &__best-game-score {
      height: 68px;
      order: 2;
      margin-right: 0px;
    }
    &__btn-restart {
      order: 3;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 520px) {
  .game {
    &__score,
    &__best-game-score,
    &__btn-restart {
      height: 56px;
      font-size: 16px;
    }
    &__score-count,
    &__best-score-count {
      font-size: 16px;
    }
  }
}

@media (max-width: 420px) {
  .main {
    margin: 12px 0;
  }
  .game {
    &__form {
      width: 240px;
      height: 325px;
    }
    &__form-title {
      font-size: 18px;
    }
    &__form-width,
    &__form-height {
      display: flex;
      flex-direction: column;
    }
  }
  .input-width__title,
  .input-height__title {
    margin-right: 0;
    margin-bottom: 10px;
  }
}