.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__inner {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    margin-top: $spacing-medium;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__score,
  &__best-game-score {
    padding: $spacing-small $spacing-medium;
    min-width: 160px;
    background: $color-black;
    border-radius: $border-radius-small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
  }
  &__score-count,
  &__best-score-count {
    font-size: 20px;
    color: $color-red;
    font-weight: bold;
  }
  &__btnRestart {
    min-width: 190px;
    height: 70px;
    background: $color-black;
    color: $color-red;
    font-weight: bold;
    font-size: 20px;
    border-radius: $border-radius-small;
    border: none;
  }
  &__btnRestart:hover {
    border: solid 2px $color-red;
    color: #ffffff;
  }
}