.game {
  &__form {
    width: 280px;
    height: 290px;
    background-color: $color-black-field;
    position: relative;
    margin: auto;
    padding: $spacing-small;
    border-radius: 15px;
  }
  &__logo {
    width: 40px;
    height: 40px;
    margin-left: 43%;
  }
  &__form-title {
    font-size: 22px;
    color: $color-red;
    padding: $spacing-small;
    margin-top: 0px;
    margin-bottom: $spacing-small;
  }
  &__form-width,
  &__form-height {
    padding: $spacing-small;
  }
  &__btn-input {
    border: 0;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    background-color: $color-dark;
    color: $color-white;
    font-size: 15px;
    &:hover {
      border: 2px solid $color-red;
    }
  }
}

.input-width__title,
.input-height__title {
  color: $color-white;
  font-size: 14px;
}

.input-width__title {
  margin-right: 27px;
}

.input-height__title {
  margin-right: 23px;
}

.input-width,
.input-height {
  width: 126px;
  height: 25px;
  border: 3px;
  border-radius: 2px;
  padding-left: 5px;
  outline-color: $color-red;
  outline-width: 1px;
  outline-style: solid;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__inner {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    margin-top: $spacing-medium;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__score,
  &__best-game-score {
    padding: $spacing-small $spacing-medium;
    min-width: 160px;
    background: $color-black;
    border-radius: $border-radius-small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
  }
  &__score-count,
  &__best-score-count {
    font-size: 20px;
    color: $color-red;
    font-weight: bold;
  }
  &__btnRestart {
    min-width: 190px;
    height: 70px;
    background: $color-black;
    color: $color-red;
    font-weight: bold;
    font-size: 20px;
    border-radius: $border-radius-small;
    border: none;
  }
  &__btnRestart:hover {
    border: solid 2px $color-red;
    color: #ffffff;
  }
}

.field {
  // width: 320px;
  // height: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: none;
  flex-wrap: wrap;
  background-color: $color-black-field;
  border-radius: 5px;
  border: 10px solid $color-black-field;
  box-shadow: $box-shadow-field;
  box-sizing: unset;
}

.cell {
  width: 16px;
  height: 16px;
  background-image: url("../images/bg-cell.svg");
}

.snake {
  &__body {
    background: $color-red-snake-body;
    background-size: cover;
    // border-radius: 30%;
  }
  &__head {
    background: $color-red-snake-head;
    background-size: cover;
    // border-radius: 10%;
  }
}