/* Colors */
$color-white: #fff;
$color-dark: #353336;
$color-black: #121214;
$color-black-field: #161618;
$color-red: #D21855;
$color-red-snake-body: #A00034;
$color-red-snake-head: #FA0556;

/* Spacing */
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 30px;

/* Radius */
$border-radius-small: 5px;
$border-radius-medium: 10px;

/* Shadow */
$box-shadow-field: 0px 0px 40px 10px #161618;
$box-shadow-phone: 0px 0px 15px 5px #161618;