/* Colors */
$color-white: #fff;
$color-dark: #353336;
$color-black: #121214;
$color-black-field: #161618;
// $color-blue: #3199dc;
// $color-light: #f8f9fa;
$color-red: #D21855;
$color-red-snake-body: #A00034;
$color-red-snake-head: #FA0556;
// $color-green: #006100;
// $color-unaccent: #808080;
// $color-medium: #e8e8e8;
// $color-error-light: #f25b6b;
// $color-error-dark: #c54646;
// $linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);

/* Spacing */
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 30px;

/* Radius */
$border-radius-small: 5px;

/* Shadow */
$box-shadow-field: 0px 0px 40px 10px #161618;